.chatgroup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%; /* Añade esto */
    padding: 15px 3%;
    box-sizing: border-box; /* Incluye padding en el ancho/alto */
    gap: 20px; /* Espacio entre secciones */
}

.chatgroup-container-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.chatgroup-container-top>button {
    background-color: var(--color-secondary);
    border-radius: 20px;
    color: var(--color-white);
    padding: 10px;
}

.chatgroup-container-bottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; /* Espacio entre grupos */
    overflow-y: auto; /* Scroll si hay muchos grupos */
    flex-grow: 1; /* Ocupa el espacio disponible */
    
}

