#root {
  min-width: 300px;
  margin: 0 auto;
  text-align: center;
}

.main-screen{
  width: 100%;
  height: 100vh;
  position: relative;
}

.skyscanner-logo{
  min-width: 170px;
}

.menu-nav{
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15%;
  
  background-color: var(--color-primary);
}

.menu-nav-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 20px 15px;
}

.menu-nav-title-left{
  color: var(--color-white);
  font-size: large;
}

.menu-nav-pages{
  display: flex;
  flex-wrap: nowrap;
  justify-content: start;
  align-items: center;
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

.menu-nav-pages::-webkit-scrollbar {
  height: 6px;
}

.menu-nav-pages::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.menu-nav-pages::-webkit-scrollbar-track {
  background: transparent;
}

.menu-nav-item{
  background-color: var(--color-primary);
  padding: 10px 25px;
  border-radius: 50px;
  color: var(--color-white);
  font-size: large;
  margin: 5px;
  border: 1px var(--color-white) solid;
}

.menu-nav-item.selected{
  background-color: var(--color-secondary);
  border: none;
}

.chat-app{
  height: 85%;
  position: relative;
}