* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

:root {
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  --color-primary: #05203C;
  --color-secondary: #0062E3;
  --color-selected: #154679;
  --color-white: #EFF3F8;
  --color-white-selected: #e6e6e6;
  --color-black: #252525;
  background-color: #fcfcfc;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

.primary-button{
  background: var(--color-primary);
  color: var(--color-white);
  padding: 15px;
  border-radius: 15px;
  font-size: x-large;
}